html {
    font-family: 'Helvetica Neue';
    background-color: #FEF6C9;
    color: #252E2A;
}

/*Font Information*/

h1 {
    font-size: 70pt;
    font-weight: bolder;
    border-bottom: 10px solid;
}

h2 {
    font-size: 50pt;
    font-weight: bold;
}

h3 {
    font-size: 30pt;
    color: #878e88;
}

h4 {
    font-size: 20pt;
    font-weight: normal;
    color: #878e88;
}

p {
    font-size: 15pt;
    font-weight: lighter;
    color: #878e88;
}

li{
    font-size: 15pt;
    font-weight: lighter;
}

/*hover and click state*/

a:hover {
    color: #D4DFC7;
}

a:active {color: #96C0B7}

/*layout stuff*/

nav {
    background-color: #878e88;
    padding: .5em;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.feature {
    width: 300px;
    margin: 10px;
}

/*media queries*/

@media only screen and (max-width: 1600px) and (min-width: 801px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5px;
        width: 80%;
        margin: auto;
      }
    .feature{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 75%;
    }
  }
@media only screen and (max-width: 800px){
    .grid {
        display: grid;
        grid-template-rows: auto;
        gap: 5px;
        height: 80%;
        margin: auto;
    }
    .feature {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 75%;
        min-width: 50%;
    }
    
}