html {
    font-family: 'Helvetica Neue';
    background-color: #FEF6C9;
    color: #252E2A;
}

/*Font Information*/

h1 {
    font-size: 70pt;
    font-weight: bolder;
    border-bottom: 10px solid;
}

h2 {
    font-size: 50pt;
    font-weight: bold;
}

h3 {
    font-size: 30pt;
    color: #878e88;
}

h4 {
    font-size: 20pt;
    font-weight: normal;
    color: #878e88;
}

p {
    font-size: 15pt;
    font-weight: lighter;
    color: #878e88;
    padding: 10px;
}

li{
    font-size: 15pt;
    font-weight: lighter;
}

/*layout stuff*/

/*nav stuff*/

.topnav {
    background-color: #878e88;
    padding: .5em;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    color: #96C0B7;
    background-color: #D4DFC7;
}

.topnav a:active {
    color: #D4DFC7;
    background-color: #96c0b7
}

.feature {
    width: 100%;
    margin: 5px;
    padding: 1px;
}

.feature2 {
    width: 200px;
    margin: 10px;
    float: center;
}

img {
    float: center;
}

.grid3{
    grid-template-rows: auto;
    display: grid;
    margin: auto;
    align-self: center;
    height: 80%;
}

/*contact card information*/

/*media queries*/

@media only screen and (max-width: 3000px) and (min-width: 1001px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        width: 80%;
        margin: auto;
      }
    .grid2 {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: 5px;
        width: 80%;
        margin: auto
    }
    .grid3 p{
        text-align: center;
        color:  #f2f2f2;
        width: 500px;
        height: 50px;
        margin: 5em auto;
        background-color: #96C0B7;
        border: 0.5em solid #D4DFC7;
        border-radius: .5em;
    }
    .feature{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 75%;
    }
    .feature2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 75%;
    }
  }
@media only screen and (max-width: 1000px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        float: center;
        gap: 5px;
        height: 80%;
        margin: auto;
    }
    .grid2{
        display: grid;
        grid-template-rows: auto;
        float: center;
        gap: 5px;
        height: 80%;
        margin: auto;
    }
    .grid3 p{
        text-align: center;
        color:  #f2f2f2;
        width: 400px;
        height: 25px;
        margin: 5em auto;
        background-color: #96C0B7;
        border: 0.5em solid #D4DFC7;
        border-radius: .5em;
    }
    .feature{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 75%;
        min-width: 50%;
    }
    .feature2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 75%;
        min-width: 50%;
    }
    
}