/*nav stuff*/

.topnav {
  background-color: #878e88;
  padding: .5em;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #96C0B7;
  background-color: #D4DFC7;
}

.topnav a:active {
  color: #D4DFC7;
  background-color: #96c0b7
}

.feature {
  width: 100%;
  margin: 5px;
  padding: 1px;
}

.feature2 {
  width: 200px;
  margin: 10px;
  float: center;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  margin: 0 auto;
}

.displayed-img {
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar{
  width: 640px;
  margin: 0 auto;
}

.thumb-bar img {
  display: block;
  width: 20%;
  height: 96px; 
  float: left;
  cursor: pointer;
}

/* website's base css */
html {
  font-family: 'Helvetica Neue';
  background-color: #FEF6C9;
  color: #252E2A;
  text-align: left;
}

/*Font Information*/

h1 {
  font-size: 70pt;
  font-weight: bolder;
  border-bottom: 10px solid;
}

h2 {
  font-size: 50pt;
  font-weight: bold;
}

h3 {
  font-size: 30pt;
  color: #878e88;
}

h4 {
  font-size: 20pt;
  font-weight: normal;
  color: #878e88;
}

p {
  font-size: 15pt;
  font-weight: lighter;
  color: #878e88;
  padding: 10px;
}

li{
  font-size: 15pt;
  font-weight: lighter;
}

/*nav stuff*/

.topnav {
  background-color: #878e88;
  padding: .5em;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #96C0B7;
  background-color: #D4DFC7;
}

.topnav a:active {
  color: #D4DFC7;
  background-color: #96c0b7
}

.feature {
  width: 100%;
  margin: 5px;
  padding: 1px;
}

.feature2 {
  width: 200px;
  margin: 10px;
  float: center;
}